### Building Inventory Analysis 
by OU Core Community Resillience Lab

##### Tarun Adluri
##### Rafia Bushra
##### Himdari Sen Gupta
##### Yunjie Wen

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
Community = (input("Select Community: {Seaside,Joplin,Lumberton,Shelby} : "))

Select Community: {Seaside,Joplin,Lumberton,Shelby} : Seaside

In [65]:
buildings_data = pd.read_csv("{}_Building_Inventory.csv".format(Community))
population = pd.read_csv("{}_addresspointinventory.csv".format(Community))

#### Number of Buildings

In [12]:
buildings_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4679 entries, 0 to 4678
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   parid       0 non-null      float64
 1   parid_card  0 non-null      float64
 2   bldg_id     0 non-null      float64
 3   struct_typ  4679 non-null   object
 4   str_prob    0 non-null      float64
 5   year_built  4679 non-null   int64
 6   no_stories  4679 non-null   int64
 7   a_stories   0 non-null      float64
 8   b_stories   0 non-null      float64
 9   bsmt_type   0 non-null      float64
 10  sq_foot     0 non-null      float64
 11  gsq_foot    0 non-null      float64
 12  occ_type    0 non-null      float64
 13  occ_detail  0 non-null      float64
 14  major_occ   0 non-null      float64
 15  broad_occ   0 non-null      float64
 16  appr_bldg   4679 non-null   int64
 17  repl_cst    0 non-null      float64
 18  str_cst     0 non-null      float64
 19  nstra_cst   0 non-null      float64
 20  nstrd_cst   0 non-null      float64
 21  dgn_lvl     4679 non-null   object
 22  cont_val    0 non-null      float64
 23  efacility   0 non-null      float64
 24  dwell_unit  0 non-null      float64
 25  str_typ2    4679 non-null   object
 26  occ_typ2    0 non-null      float64
 27  tract_id    0 non-null      float64
 28  guid        4679 non-null   object
 29  FID_NEW     4679 non-null   int64
 30  origin      4679 non-null   int64
 31  stat_class  4679 non-null   int64
 32  rmv_improv  4679 non-null   float64
 33  rmv_land    4679 non-null   float64
 34  elev        4679 non-null   float64
 35  period      4679 non-null   float64
dtypes: float64(26), int64(6), object(4)
memory usage: 1.3+ MB

In [54]:
Count = len(buildings_data)
print("The number of buildings in the {} community are".format(Community),Count)

The number of buildings in the Seaside community are 4679

#### Number of Buildigns in Each Archetype

In [59]:
Type = buildings_data["struct_typ"].value_counts()
print("Total Number of Buildings in the {} community for each Archetype: \n".format(Community), Type)

Total Number of Buildings in the Seaside community for each Archetype:
 W1    2444
RC    1504
W2     731
Name: struct_typ, dtype: int64

#### Total Number of Buildings in Each Retrofit Level

In [60]:
Retrofit = buildings_data["dgn_lvl"].value_counts()
print("Total Number of Buildings in the {} community for each Retrofit Level: \n".format(Community), Retrofit)

Total Number of Buildings in the Seaside community for each Retrofit Level:
 Pre - Code         2472
Moderate - Code     849
Low - Code          775
High - Code         583
Name: dgn_lvl, dtype: int64

#### Total RMV of Buildings

In [61]:
TotalMarketValue = buildings_data["rmv_improv"].sum()
print("Total Market Value of buildings in the {} community is $".format(Community),TotalMarketValue)

Total Market Value of buildings in the Seaside community is $ 818423794.0

In [62]:
Min_RMV = buildings_data["rmv_improv"].min()
Max_RMV = buildings_data["rmv_improv"].max()
print("{} community range of retail market value $".format(Community), Min_RMV,"and $",Max_RMV )

Seaside community range of retail market value $ 0.0 and $ 17697441.0

#### Year Built Information of Buildings

In [63]:
Min_Year = buildings_data["year_built"].min()
Max_Year = buildings_data["year_built"].max()
print("{} community has information of buildings built between year".format(Community), Min_Year,"and",Max_Year )

Seaside community has information of buildings built between year 0 and 2203

#### Average Age of Buildings

In [64]:
buildings_data["Age"] = 2021 - buildings_data["year_built"]
Avg_Age = buildings_data["Age"].mean()
print("The average age of buildings in the {} commuinity is".format(Community), Avg_Age)

The average age of buildings in the Seaside commuinity is 70.36845479803377

#### Total Population

In [74]:
Num_Residential = population["residential"].sum() 
print("Population of {} community:".format(Community),Num_Residential)

Population of Seaside community: 5988

In [76]:
population.drop_duplicates(subset=['strctid'])

,blockid,addrptid,strctid,x,y,huestimate,residential
0,410079511001025,41007000000020005S001001A,41007000000020005S,-123.900452,46.010494,1,1
1,410079511003005,41007000000020009S001001A,41007000000020009S,-123.932060,45.979836,1,1
2,410079507002020,41007020802001001S001001A,41007020802001001S,-123.918625,46.017567,1,1
3,410079507002040,41007020853008001S001001A,41007020853008001S,-123.913643,46.017326,1,1
4,410079507002040,41007020853008002S001001A,41007020853008002S,-123.913643,46.017326,1,1
...,...,...,...,...,...,...,...
5983,410079511003077,41007026497001001S001001A,41007026497001001S,-123.942680,45.972363,1,1
5984,410079511003076,41007026498001001S001001A,41007026498001001S,-123.943321,45.972286,1,1
5985,410079511003002,41007026500001001S001001A,41007026500001001S,-123.941330,45.972206,1,1
5986,410079511003077,41007026501001001S001001A,41007026501001001S,-123.942200,45.972202,1,1
5987,410079511003077,41007026505001001S001001A,41007026505001001S,-123.941589,45.972042,1,1